$head-font: "Apple Chancery";
$head-font-size: 40px;
$head-width: 100%;

$small-head-font: "Bernard MT Condensed";
$small-head-font-size: 36px;

$paragraph-font: "Candara";
$paragraph-font-size: 24px;
$paragraph-font-color: #000;
$paragraph-padding: 40px;
$paragraph-width: 100%;

$light-pink: #f6d7e1;
$dark-pink: #6C0D73;
$light-gray: #f6f5f5;
$dark-gray: #9B9B9B;
